<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test for Task1">
    <test verbose="2"  name="Тест для Задания 1">
        <classes>
            <class name="tests.MailTest">
                <methods>
                    <include name="sendLetterTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>